@media(max-width: $lg)
{
  .variant-modal-wrapper
  {
    margin-top: 10%;
  }
}

@media (max-width: $md) {

  .variant-modal-wrapper
  {
    margin-top: 8%;
  }

  .variant-modal
  {
    &__price
    {
      text-align: center;
    }
  }
}


@media(max-width: $sm)
{

    .variant-modal-wrapper
    {
         margin-top:35px;

    }

    .variants
    {
      padding-bottom: 40px;

      &__title
      {
        margin-bottom: 20px;
      }
    }
}

