@media(max-width: $md)
{
    .offer-clean {
      padding-top: 40px;

      &__title
      {
        p {
          font-size: 1.1rem;
        }

        h1 {
          font-size: 1.4rem;
        }

      }

      &__description
      {
        &-first
        {
          font-size: 1.2rem;
        }

        &-second
        {
          font-size: 1.1rem;
        }
      }

    }
}



@media (max-width: $sm) {
  .offer-clean {
    background-size: auto auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: -1px;

    &__title {
      margin-bottom: 30px;

      p {
        font-size: .9rem;
      }

      h1 {
        font-size: 1.2rem;
      }
    }

    &__description {
      margin-bottom: 30px;
      &-first {
        font-size: 1.2rem;
      }
    }

    &__purchase {
      & .btn {
        font-size: 1rem;
      }
    }
  }
}

