.offer-clean
{
  background: url('http://www.xn----7sbba0ahcftg3a4pra.xn--p1ai/img/clean_bg.jpg') 150px 0  no-repeat #b3a9a7;
  background-size: cover;
  color: white;
  padding-top: 70px;
  padding-bottom: 30px;


  &__title
  {
    margin-bottom: 45px;
      p
      {
        font-size: 1.1rem;
        font-weight: 500;
      }

      h1
      {
        font-size: 2rem;
        font-family: "PFDinTextCondProMedium", Helvetica, sans-serif;
        font-weight: 500;
      }
  }

  &__description
  {
    margin-bottom: 40px;
    &-first
    {
      font-family: "PFDinTextCondProMedium" , Helvetica, sans-serif;
      font-size: 1.5rem;
      margin-bottom: 10px;
      font-weight: 500;
    }

    &-second
    {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
}