.orange-header
{
  color: $main-orange;
  text-transform: uppercase;
}

.gray-header-lg
{
  font-size: 2rem;
  color: $main-gray;
  text-transform: uppercase;
  font-family: "PFDinTextCondProBold", Helvetica,sans-serif;
}


@media(max-width: 768px)
{
  .gray-header-lg
  {
    font-size: 1.6rem;
  }
}