@media (max-width: $md) {
    .footer
    {
      text-align: center;

      &__title
      {
        font-size: 1.6rem;
      }

      &__social-links
      {
          justify-content: center;
      }
    }
}