.text-upper
{
  text-transform: uppercase;
}

.img-responsive
{
  display: block;
  max-width: 100%;
  height: auto;
}

.clickable
{
  cursor: pointer;
}

.mb-1
{
  margin-bottom:10px;
}

.mb-2
{
  margin-bottom: 20px;
}