
/***********************COLORS***********************/
$main-green: #46E069;
$main-orange: #ff9e00;
$main-gray: #666666;
$cloud-color: #F8FFFA;

/*********************** RESPONSIVE-BREAKPOINTS ***********************/
$only-mobile: 767px;
$sm : 768px;
$md : 992px;
$lg : 1200px;