@media (max-width: $sm) {
  .main
  {

    text-align: center;
    margin-bottom: 30px;

    &__slogan
    {
      margin-bottom: 96px;

      span
      {
        font-size: 1.4rem;
      }
    }

    &__title
    {

      font-size: 1.3rem;
    }



    &__buttons
    {
      .btn
      {
        font-size: 1rem;
        width: 45%;
        margin: 0;
      }
    }
  }
}

@media (max-width: $only-mobile)
{
  .main
  {
    &__buttons
    {
      .btn {
        display: block;
        margin: 0 auto;
        width: 90%;
      }

      .btn:first-child
      {
        margin-bottom: 10px;
      }

    }
  }

}